* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Palette */

:root {
    --primary: #4464EB;
    --secondary: #eb44b7;
    --terciary: #ebcb44;
    --quarter: #44eb77;
    --bckground: #fff;
    --error: #FC5555;
    --success: #29CC6A;
}

.TableMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 70%;
    background-color: violet;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}