.blobHeader {
    height: 22rem;
    position: absolute;
    top: -8rem;
    left: -6rem;
    transform: rotate(-20deg);
    z-index: 2;
}

.blobBody {
    height: 42rem;
    position: absolute;
    left: -18rem;
    top: 0;
    z-index: 1;
    /* transform: rotate(-20deg); */
}

.blobMain1 {
    height: 42rem;
    width: 42rem;
    position: absolute;
    left: -20rem;
    bottom: -15rem;
}