.blobHeader {
    height: 22rem;
    position: absolute;
    top: -8rem;
    left: -6rem;
    transform: rotate(-20deg);
    z-index: 2;
}

.blobBody {
    height: 42rem;
    position: absolute;
    left: -18rem;
    top: 0;
    z-index: 1;
    /* transform: rotate(-20deg); */
}

.blobMain1 {
    height: 42rem;
    width: 42rem;
    position: absolute;
    left: -16rem;
    bottom: -15rem;
}

.blobMain2 {
    height: 42rem;
    width: 42rem;
    position: absolute;
    right: -10rem;
    bottom: -18rem;
    transform: rotate(-50deg);
}

.blobMain3 {
    height: 32rem;
    width: 32rem;
    position: absolute;
    right: -13rem;
    top: -1rem;
}