* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mask {
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}