:root {
    --primary: #4464EB;
    --secondary: #eb44b7;
    --terciary: #ebcb44;
    --quarter: #44eb77;
    --bckground: #fff;
    --error: #FC5555;
    --success: #29CC6A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bodyContainer {
    height: 80%;
    width: 100%;
}